.main__car {
    margin-top: 90px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
}

.main__car h4 {
    font-size: 32px;
}

.main__car p {
    font-size: 16px;
}

.img__bag_add {
    width: 120px;
    margin-bottom: 30px;
    align-self: center;
    opacity: 20%;
}