.product_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0px;
}

.product_image {
  margin-top: 20px;
  max-width: 97%;
  height: auto;
}

.product_price {
  font-size: 16px;
  margin: 4px 5px;
}

.arrow_button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

.arrow_button:hover {
  color: #555;
}

.sizes_container {
  margin: 40px auto;
  margin-bottom: 0;
}

.button_sizes {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 15px;
  font-size: 16px;
}

.button_selected {
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 2px solid #333;
}

.group__products_img {
  width: 90px;
  margin: 0 10px;
  margin-top: 30px;
}

.group__products_img_select {
  width: 90px;
  margin: 0 10px;
  margin-top: 30px;
  border-bottom: 2px solid #020202;
  opacity: 0.6;
}
